* {
  padding: 0;
  margin: 0;
}

body {
  padding: 20px;
  margin: 0 auto;
}

.item {
  /* background-color: yellow; */
  /* border: 1px solid black; */
  padding: 50px;
  text-align: center;
}

.container {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-areas:
    "header header header"
    "content1 content2  content3";
}

.item1 {
  grid-area: header;
}

.item2 {
  grid-area: content1;
  border: 1px solid black;
}

.item3 {
  grid-area: content2;
}

.item4 {
  grid-area: content3;
  border: 1px solid black;
}
